body,h1,h2,h3,h4,h5,h6 {font-family: "Raleway", sans-serif}
body, html {
    height: 100%;
    line-height: 1.8;
}

.column {
    float: left;
    width: 33.3%;
    margin-bottom: 16px;
    padding: 0 8px;
    justify-content: space-around;
  }
  .row{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .card img{
      height:390px;
      width: 240px;
      border-radius: 50%;
      border: 2px solid #99254a;
  }
  
  @media screen and (max-width: 650px) {
    .column {
      width: 100%;
      display: block;
    }
  }
  
  .card {
      background-color: 0 4px 8px 0 rgba(68, 68, 27, 0.795);
    box-shadow: 0 4px 8px 0 rgba(110, 207, 45, 0.712);
  }
  
  .containeri {
    padding: 0 16px;
  }
  
  .containeri::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image:/*linear-gradient(to bottom rgba(150, 54, 134, 0.308), rgba(255, 169, 10, 0.577)), */url("./img/paint.jpg");
    min-height: 100%;
}
.w3-bar .w3-button {
    padding: 16px;
}


/*navbar*/
.w3-whiti {
    background-color: rgba(196, 226, 23, 0.925);
}
.containera {
  border: 2px solid rgb(168, 142, 142);
  background-color: rgb(202, 226, 218);
  border-radius: 5px;
  padding: 8px;
  margin-top: 5px;
}

/*contact*/
.w3-darki-grey{
    background-color: #f9c1ba;
}
.test{
    display: flex;
    flex-direction: initial;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.testimon{
    background-color: lightgreen;
    height: 40vh;
    text-align: center;
    margin-bottom: 10px;
}
.testimon h3{
    font-size: 28px;
    margin-top: 0;
}
/*tteam
.tteam{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}*/

.containera::after {
  content: "";
  clear: both;
  display: table;

}

.containera img {
  float: left;
  margin-right: 20px;
  border-radius: 50%;
}

.containera span {
  font-size: 20px;
  margin-right: 15px;
}

@media (max-width: 500px) {
  .containera {
      text-align: center;
  }
  .containera img {
      margin: auto;
      float: none;
      display: block;
  }
  .testimon{
      margin-bottom: 50%;
  }
}



/*styles for automatic slideshow*/
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  background-color:linear-gradient(rgba(170, 31, 96, 0.445), rgba(113, 11, 172, 0.63));
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
.text1 {
    color: #2b970a;
    font-size: 31px;
    font-weight: 700;
    padding: 8px 12px;
    position: absolute;
    bottom: 70px;
    width: 100%;
    text-align: center;
  }

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: rgb(24, 165, 153);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}


.mySlides {
    position: relative;
    font-family: Arial;
}

.text-block {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: black;
    color: white;
    text-align: center;

}
.text-block1{
    position: absolute;
    color: #9e1f9e;
    font-size: 31px;
    font-weight: 700;
    text-align: center;
    bottom: -10px;
    right: -40px;
}